include *.md
recursive-include artemis_usb2 *.txt
recursive-include artemis_usb2 *.json
recursive-include artemis_usb2 *.ucf
recursive-include artemis_usb2 *.png
recursive-include artemis_usb2 *.rules
