#Rules for Sycamore ###########################################################
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="8531", MODE="0666", GROUP="artemis"
#End RUle #####################################################################
