#SPI Flash
NET SPI_CLK     IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4 | PULLUP;
NET SPI_DO      IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4 | PULLUP;
NET SPI_DI      IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4 | PULLUP;
NET SPI_CS      IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4 | PULLUP;

NET ADAPTER_RST LOC = AA18    | IOSTANDARD = LVTTL ;

#Clock
NET CLK_50MHZ   LOC = Y13     | IOSTANDARD = LVTTL ;

#FTDI
NET OE_N        LOC = Y10     | IOSTANDARD = LVTTL ;
NET RXE_N       LOC = AB10    | IOSTANDARD = LVTTL ;
NET SIWUA       LOC = W8      | IOSTANDARD = LVTTL ;
NET WR_N        LOC = V7      | IOSTANDARD = LVTTL ;
NET FTDI_CLK    LOC = T12     | IOSTANDARD = LVTTL ;
NET RD_N        LOC = AB6     | IOSTANDARD = LVTTL ;
NET TXE_N       LOC = AA6     | IOSTANDARD = LVTTL ;
NET SUSPEND_N   LOC = U9      | IOSTANDARD = LVTTL | PULLUP;


NET D<0>        LOC = Y9      | IOSTANDARD = LVTTL ;
NET D<1>        LOC = AB9     | IOSTANDARD = LVTTL ;
NET D<2>        LOC = Y5      | IOSTANDARD = LVTTL ;
NET D<3>        LOC = AB5     | IOSTANDARD = LVTTL ;
NET D<4>        LOC = W10     | IOSTANDARD = LVTTL ;
NET D<5>        LOC = W14     | IOSTANDARD = LVTTL ;
NET D<6>        LOC = Y14     | IOSTANDARD = LVTTL ;
NET D<7>        LOC = AA10    | IOSTANDARD = LVTTL ;

#HDMI Out
NET HDMI_OUT_CLK  LOC = V15   | IOSTANDARD = TMDS_33;  #INVERTED
NET HDMI_OUT_D0   LOC = AA16  | IOSTANDARD = TMDS_33;
NET HDMI_OUT_D1   LOC = Y17   | IOSTANDARD = TMDS_33;
NET HDMI_OUT_D2   LOC = W17   | IOSTANDARD = TMDS_33;

NET HDMI_OUT_SCL  LOC = T15   | IOSTANDARD = LVTTL;
NET HDMI_OUT_SDA  LOC = U15   | IOSTANDARD = LVTTL;

#HDMI In
NET HDMI_IN_CLK   LOC = AA12  | IOSTANDARD = TMDS_33;
NET HDMI_IN_D0    LOC = V11   | IOSTANDARD = TMDS_33;  #INVERTED
NET HDMI_IN_D1    LOC = W12   | IOSTANDARD = TMDS_33;  #INVERTED
NET HDMI_IN_D2    LOC = U14   | IOSTANDARD = TMDS_33;  #INVERTED

NET HDMI_IN_SCL   LOC = AA8   | IOSTANDARD = LVTTL;
NET HDMI_IN_SDA   LOC = AB8   | IOSTANDARD = LVTTL;

#PCIE
NET PCI_RESET_N   LOC = R9    | IOSTANDARD = LVTTL;
NET PCI_WAKE_N    LOC = Y4    | IOSTANDARD = LVTTL;
NET SMDAT         LOC = T11   | IOSTANDARD = LVTTL;
NET SMCLK         LOC = R11   | IOSTANDARD = LVTTL;


#SERDES
#SERDES CHANNEL 0: SATA (With Clock)
#SERDES CHANNEL 1: PCIE
