#SPI Flash
NET SPI_CLK    LOC = Y20  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET SPI_DO     LOC = AB20 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET SPI_DI     LOC = AA20 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET SPI_CS     LOC = AA3  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;

#FTDI
NET OE_N       LOC = AA18 | IOSTANDARD = LVTTL ;
NET RXE_N      LOC = AB18 | IOSTANDARD = LVTTL ;
NET SIWUA      LOC = Y17  | IOSTANDARD = LVTTL ;
NET WR_N       LOC = AB17 | IOSTANDARD = LVTTL ;
NET FTDI_CLK   LOC = Y13  | IOSTANDARD = LVTTL ;
NET RD_N       LOC = U14  | IOSTANDARD = LVTTL ;
NET TXE_N      LOC = U13  | IOSTANDARD = LVTTL ;


NET D<0>       LOC = Y16  | IOSTANDARD = LVTTL ;
NET D<1>       LOC = W15  | IOSTANDARD = LVTTL ;
NET D<2>       LOC = V13  | IOSTANDARD = LVTTL ;
NET D<3>       LOC = W13  | IOSTANDARD = LVTTL ;
NET D<4>       LOC = AA16 | IOSTANDARD = LVTTL ;
NET D<5>       LOC = AB16 | IOSTANDARD = LVTTL ;
NET D<6>       LOC = W14  | IOSTANDARD = LVTTL ;
NET D<7>       LOC = Y14  | IOSTANDARD = LVTTL ;



